@import "tailwindcss";

@theme {
  --color-del-primary: #00d26a; /* Vibrant Swiggy/Uber Eats green */
  --color-del-secondary: #00b35b;
  --color-del-dark: #000000;
  --color-del-card: #121212;
  --color-del-border: #2a2a2a;
}

@layer utilities {
  .ios-scroll {
    -webkit-overflow-scrolling: touch;
  }
}

html, body {
  @apply bg-del-dark text-white min-h-screen selection:bg-del-primary/30 selection:text-white font-sans max-w-md mx-auto relative shadow-2xl overflow-x-hidden;
}

/* Hide scrollbar for clean app vibe */
::-webkit-scrollbar {
  display: none;
}
